<main class="main-container">

    <div class="row">
                    <div class="card col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">Usuarios</h5>
                            <h6 class="card-subtitle mb-2 text-muted">En este panel se podra gestionar los datos de las
                                de los beneficiarios del sistema</h6>
                            <div>
                                <form method="" id="formulario">
                                    <div class="form-group">
                                        <label>IdUsuario</label>
                                        <input type="number" class="form-control" id="IdUsuario">
                                    </div>

                                     <div class="form-group">
                                        <label>IdRol</label>
                                        <input type="number" class="form-control" id="IdRol" >
                                    </div>


                                    <div class="form-group">
                                        <label>Documento</label>
                                        <input type="number" class="form-control" id="documento" >
                                    </div>

                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <input type="text" class="form-control" id="nombres" >
                                    </div>

                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input type="text" class="form-control" id="apellidos" >
                                    </div>

                                    <div class="form-group">
                                        <label>Correo</label>
                                        <input type="text" class="form-control" id="correo" >
                                    </div>

                                    <div class="form-group">
                                        <label>Grado</label>
                                        <input type="number" class="form-control" id="grado" >
                                    </div>

                                   <div class="form-group">
                                        <label>Grupo</label>
                                        <input type="number" class="form-control" id="grupo" >
                                    </div>

                                     
                                    <a href="#" class="btn btn-primary" id="agregar" >Agregar </a>
                                    <a href="" type="submit" class="btn btn-success" name="accion">Actualizar</a>
                         
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">IdUsuario</th>
                                    <th scope="col">IdRol</th>
                                    <th scope="col">Documento</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Grado</th>
                                    <th scope="col">Grupo</th>
                                    <th>Accciones</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>


                                    <tr>
                                         <td>123</td>
                                        <td>12</td>
                                        <td>1002563084</td>
                                        <td>Pedro Andres</td>
                                        <td>Castro Pastrana</td>
                                        <td>pedro9@gmail.com</td>
                                        <td>11</td>
                                        <td>2</td>
                                        <td>
                                            <a class="btn btn-warning"
                                                href="">Editar</a>

                                        </td>
                                        <td>
                                            <a href="">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="Estado2">
                                                      <label class="custom-control-label" for="Estado2"></label>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>


                                    <tr>
                                         <td>13</td>
                                        <td>33</td>
                                        <td>1033520480</td>
                                        <td>Cristian </td>
                                        <td>Payares</td>
                                        <td>cristian22@gmail.com</td>
                                        <td>10</td>
                                        <td>1</td>
                                        <td>
                                            <a class="btn btn-warning"
                                                href="">Editar</a>

                                        </td>
                                        <td>
                                            <a href="">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="Estado2">
                                                      <label class="custom-control-label" for="Estado2"></label>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

       
        
</main>

</div>